[[source]]
name = "pip_conf_index_global"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytesseract = "*"
pillow = "*"
python-dotenv = "*"
tqdm = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.9"
